# Bird Strike Data Processing

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('wildlife_2018_2019.xlsx')

In [4]:
df.AC_CLASS.head()

0    A
1    A
2    NaN
3    B
4    NaN
Name: AC_CLASS, dtype: object

In [5]:
df.shape

(33602, 100)

In [6]:
df.columns.tolist()

['INDX_NR',
 'INCIDENT_DATE ',
 'INCIDENT_MONTH',
 'INCIDENT_YEAR',
 'TIME',
 'TIME_OF_DAY',
 'AIRPORT_ID',
 'AIRPORT',
 'LATITUDE',
 'LONGITUDE',
 'RUNWAY',
 'STATE',
 'FAAREGION',
 'LOCATION',
 'ENROUTE_STATE',
 'OPID',
 'OPERATOR',
 'REG',
 'FLT',
 'AIRCRAFT',
 'AMA',
 'AMO',
 'EMA',
 'EMO',
 'AC_CLASS',
 'AC_MASS',
 'TYPE_ENG',
 'NUM_ENGS',
 'ENG_1_POS',
 'ENG_2_POS',
 'ENG_3_POS',
 'ENG_4_POS',
 'PHASE_OF_FLIGHT',
 'HEIGHT',
 'SPEED',
 'DISTANCE',
 'SKY',
 'PRECIPITATION',
 'AOS',
 'COST_REPAIRS',
 'COST_OTHER',
 'COST_REPAIRS_INFL_ADJ',
 'COST_OTHER_INFL_ADJ',
 'INGESTED',
 'INDICATED_DAMAGE',
 'DAMAGE_LEVEL',
 'STR_RAD',
 'DAM_RAD',
 'STR_WINDSHLD',
 'DAM_WINDSHLD',
 'STR_NOSE',
 'DAM_NOSE',
 'STR_ENG1',
 'DAM_ENG1',
 'ING_ENG1',
 'STR_ENG2',
 'DAM_ENG2',
 'ING_ENG2',
 'STR_ENG3',
 'DAM_ENG3',
 'ING_ENG3',
 'STR_ENG4',
 'DAM_ENG4',
 'ING_ENG4',
 'STR_PROP',
 'DAM_PROP',
 'STR_WING_ROT',
 'DAM_WING_ROT',
 'STR_FUSE',
 'DAM_FUSE',
 'STR_LG',
 'DAM_LG',
 'STR_TAIL',
 'DAM_TAIL',
 'STR_LGHTS',
 'DAM_LGHTS',
 'STR_OTHER',
 'DAM_OTHER',
 'OTHER_SPECIFY',
 'EFFECT',
 'EFFECT_OTHER',
 'SPECIES_ID',
 'SPECIES',
 'REMARKS',
 'REMAINS_COLLECTED',
 'REMAINS_SENT',
 'BIRD_BAND_NUMBER',
 'WARNED',
 'NUM_SEEN',
 'NUM_STRUCK',
 'SIZE',
 'NR_INJURIES',
 'NR_FATALITIES',
 'COMMENTS',
 'REPORTER_NAME',
 'REPORTER_TITLE',
 'SOURCE',
 'PERSON',
 'LUPDATE',
 'TRANSFER']

In [7]:
df.dtypes.tolist()

[dtype('int64'),
 dtype('O'),
 dtype('int64'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('bool'),
 dtype('bool'),
 dtype('O'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('bool'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('bool'),
 dtype('bool'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('bool')]

In [8]:
df.head()

,INDX_NR,INCIDENT_DATE,INCIDENT_MONTH,INCIDENT_YEAR,TIME,TIME_OF_DAY,AIRPORT_ID,AIRPORT,LATITUDE,LONGITUDE,...,SIZE,NR_INJURIES,NR_FATALITIES,COMMENTS,REPORTER_NAME,REPORTER_TITLE,SOURCE,PERSON,LUPDATE,TRANSFER
0,973241,2019-12-31,12,2019,12:30,Day,KSJC,NORMAN Y. MINETA SAN JOSE INTL ARPT,37.36186,-121.92901,...,Medium,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,2020-04-21,False
1,973239,2019-12-31,12,2019,17:51,Day,PHNL,DANIEL K. INOUYE INTERNATIONAL AIRPORT,21.31869,-157.92241,...,NaN,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Airport Operations,2020-04-21,False
2,973237,2019-12-31,12,2019,16:16,NaN,KDFW,DALLAS/FORT WORTH INTL ARPT,32.89595,-97.03720,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,2020-04-21,False
3,973236,2019-12-31,12,2019,16:55,Day,KPIE,ST. PETE-CLEARWATER INTL ARPT,27.91076,-82.68744,...,Small,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Tower,2020-04-21,False
4,973459,2019-12-31,12,2019,09:00,NaN,KLGA,LA GUARDIA ARPT,40.77724,-73.87261,...,Medium,NaN,NaN,NaN,REDACTED,REDACTED,FAA Form 5200-7-E,Carcass Found,2020-04-23,False

In [9]:
df.FLT.value_counts()

         14431
 921        23
 1121       17
 301        17
 1294       17
         ...
 4661        1
 5903        1
 6092        1
 4288        1
 5266        1
Name: FLT, Length: 5971, dtype: int64

### Count of incidents by airport_id, date

In [10]:
byday = df[['INDX_NR', 'INCIDENT_DATE ', 'AIRPORT_ID']]

In [11]:
byday = byday.groupby(['AIRPORT_ID', 'INCIDENT_DATE ']).count().reset_index()

In [12]:
byday.rename(columns={'INDX_NR': 'COUNT'}, inplace=True)

In [13]:
byday.head()

  AIRPORT_ID INCIDENT_DATE   COUNT
0        12Y     2018-08-31      1
1        1G0     2018-09-20      1
2        1G0     2019-08-07      1
3        1G3     2018-07-24      1
4        1G3     2018-08-02      1

### Incidents by flight no.

In [21]:
byflight = df[['FLT', 'OPID', 'INCIDENT_DATE ', 'TIME', 'TIME_OF_DAY', 'AIRPORT_ID', 'LATITUDE', 'LONGITUDE', 'FAAREGION']]

In [22]:
byflight

,FLT,OPID,INCIDENT_DATE,TIME,TIME_OF_DAY,AIRPORT_ID,LATITUDE,LONGITUDE,FAAREGION
0,2502,QXE,2019-12-31,12:30,Day,KSJC,37.36186,-121.92901,AWP
1,508,HAL,2019-12-31,17:51,Day,PHNL,21.31869,-157.92241,AWP
2,,UNK,2019-12-31,16:16,NaN,KDFW,32.89595,-97.03720,ASW
3,,USCG,2019-12-31,16:55,Day,KPIE,27.91076,-82.68744,ASO
4,,UNK,2019-12-31,09:00,NaN,KLGA,40.77724,-73.87261,AEA
...,...,...,...,...,...,...,...,...,...
33597,,UNK,2018-01-01,,NaN,KMLI,41.44853,-90.50754,AGL
33598,,UNK,2018-01-01,,NaN,KLIT,34.72940,-92.22425,ASW
33599,,UNK,2018-01-01,,NaN,KSRQ,27.39533,-82.55411,ASO
33600,,UNK,2018-01-01,,NaN,KDFW,32.89595,-97.03720,ASW
33601,340,AAY,2018-01-01,12:30,Day,KMFR,42.37423,-122.87350,ANM

### Merge data

In [23]:
data = pd.merge(byflight, byday,  how='left', left_on=['AIRPORT_ID','INCIDENT_DATE '], right_on = ['AIRPORT_ID','INCIDENT_DATE '])

In [24]:
data

,FLT,OPID,INCIDENT_DATE,TIME,TIME_OF_DAY,AIRPORT_ID,LATITUDE,LONGITUDE,FAAREGION,COUNT
0,2502,QXE,2019-12-31,12:30,Day,KSJC,37.36186,-121.92901,AWP,1
1,508,HAL,2019-12-31,17:51,Day,PHNL,21.31869,-157.92241,AWP,1
2,,UNK,2019-12-31,16:16,NaN,KDFW,32.89595,-97.03720,ASW,1
3,,USCG,2019-12-31,16:55,Day,KPIE,27.91076,-82.68744,ASO,2
4,,UNK,2019-12-31,09:00,NaN,KLGA,40.77724,-73.87261,AEA,1
...,...,...,...,...,...,...,...,...,...,...
33597,,UNK,2018-01-01,,NaN,KMLI,41.44853,-90.50754,AGL,1
33598,,UNK,2018-01-01,,NaN,KLIT,34.72940,-92.22425,ASW,1
33599,,UNK,2018-01-01,,NaN,KSRQ,27.39533,-82.55411,ASO,1
33600,,UNK,2018-01-01,,NaN,KDFW,32.89595,-97.03720,ASW,1
33601,340,AAY,2018-01-01,12:30,Day,KMFR,42.37423,-122.87350,ANM,1

In [26]:
data.to_csv('birdstrike.csv')