# Merge aircraft data into test data

In [18]:
import pandas as pd

In [19]:
# import both datasets as pandas DataFrame
ac = pd.read_csv('aircraft.csv', index_col=0)
train = pd.read_csv('train_flights_Jan_1w.csv')

In [20]:
ac.head()

   icao24 registration               manufacturername       built
0  a00b91       N10156                        Embraer  2004-01-01
1  a008c9       N101DU   C Series Aircraft Ltd Ptnrsp  2018-01-01
2  a00929       N101HQ  Embraer-empresa Brasileira De  2007-01-01
3  a009a4       N101NN               Airbus Industrie  2013-01-01
4  a00c80       N102DU   C Series Aircraft Ltd Ptnrsp         NaN

In [21]:
train.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2019-01-07,AA,AA_CODESHARE,AA,4432,YX,N446YX,4432,13495,MSY,...,675.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-01-02,WN,WN,WN,1181,WN,N556WN,1181,10397,ATL,...,874.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-08,DL,DL_CODESHARE,DL,6215,G7,N340CA,6215,13487,MSP,...,448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,WN,WN,WN,1308,WN,N436WN,1308,12889,LAS,...,628.0,16.0,0.0,0.0,0.0,13.0,NaN,NaN,NaN,NaN
4,2019-01-06,HA,HA,HA,64,HA,N204HA,64,12982,LIH,...,2615.0,0.0,0.0,0.0,0.0,44.0,NaN,NaN,NaN,NaN

In [22]:
# process merge
train = train.merge(ac, how='left', left_on='tail_num', right_on='registration')

In [23]:
# drop redundant columns
train.drop(['registration'], axis=1, inplace=True)

In [24]:
train

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name,icao24,manufacturername,built
0,2019-01-07,AA,AA_CODESHARE,AA,4432,YX,N446YX,4432,13495,MSY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a56323,Embraer S A,2015-01-01
1,2018-01-02,WN,WN,WN,1181,WN,N556WN,1181,10397,ATL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a717b6,Boeing,2011-01-01
2,2018-01-08,DL,DL_CODESHARE,DL,6215,G7,N340CA,6215,13487,MSP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a3bd81,Bombardier Inc,2002-01-01
3,2019-01-01,WN,WN,WN,1308,WN,N436WN,1308,12889,LAS,...,0.0,0.0,13.0,NaN,NaN,NaN,NaN,a53b69,Boeing,2003-01-01
4,2019-01-06,HA,HA,HA,64,HA,N204HA,64,12982,LIH,...,0.0,0.0,44.0,NaN,NaN,NaN,NaN,a1a18f,Airbus,2017-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224845,2018-01-06,AA,AA_CODESHARE,AA,5165,OH,N540EA,5165,11995,GSO,...,0.0,0.0,31.0,NaN,NaN,NaN,NaN,a6d851,Grumman,NaN
224846,2018-01-04,UA,UA_CODESHARE,UA,4324,EV,N14993,4324,11066,CMH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a0c7ce,Embraer,2000-01-01
224847,2019-01-06,DL,DL_CODESHARE,DL,5890,YX,N202JQ,5890,12953,LGA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a19a48,Embraer-empresa Brasileira De,2008-01-01
224848,2018-01-07,DL,DL_CODESHARE,DL,3564,OO,N256SY,3564,10713,BOI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a26f6f,Embraer S A,2017-01-01
224849,2019-01-02,DL,DL,DL,1418,DL,N362NW,1418,11193,CVG,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a414fb,Airbus Industrie,1998-01-01